In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

#### **Task 9**: Find the top 10 the bussiest airports. Does the biggest number of flights mean that the biggest number of passengers went through the particular airport? How much traffic do these 10 airports cover?

In [3]:
path = '/home/jewelle/data_bootcamp/'
flights_df =  pd.read_csv(path +'flights_sub.csv')
passengers_df = pd.read_csv(path +'passengers_sub.csv')

In [4]:
flights_df.drop(['Unnamed: 0', 'dup', 'mkt_unique_carrier', 'no_name'], axis = 1)

,fl_date,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,...,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime
0,2018-01-23,UA_CODESHARE,UA,3405,YX,N653RW,3405,10821,BWI,"Baltimore, MD",...,1.0,169.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-11-15,AA_CODESHARE,AA,5683,OH,N594NN,5683,11057,CLT,"Charlotte, NC",...,1.0,640.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-10-29,WN,WN,2434,WN,N432WN,2434,12889,LAS,"Las Vegas, NV",...,1.0,867.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-11-14,B6,B6,577,B6,N968JT,577,11697,FLL,"Fort Lauderdale, FL",...,1.0,2584.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-05-22,DL_CODESHARE,DL,3762,OO,N8933B,3762,10397,ATL,"Atlanta, GA",...,1.0,508.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2019-04-12,WN,WN,1844,WN,N789SW,1844,11292,DEN,"Denver, CO",...,1.0,957.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,2018-03-30,WN,WN,374,WN,N903WN,374,14908,SNA,"Santa Ana, CA",...,1.0,226.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,2018-10-11,AA_CODESHARE,AA,5657,OH,NaN,5657,11057,CLT,"Charlotte, NC",...,1.0,140.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,2019-06-05,DL_CODESHARE,DL,5283,9E,N935XJ,5283,12953,LGA,"New York, NY",...,1.0,544.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9999,2019-12-20,UA_CODESHARE,UA,3644,YX,N727YX,3644,14893,SMF,"Sacramento, CA",...,1.0,909.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN