In [58]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import calendar
import requests as re
import time
from pprint import pprint
from datetime import timezone

In [10]:
YOUR_API_KEY = 'key here'

**Task 3: Does the weather affect the delay?**

Use the API to pull the weather information for flights. There is no need to get weather for ALL flights. We can choose the right representative sample. Let's focus on four weather types:

* sunny
* cloudy
* rainy
* snow. 

Test the hypothesis that these 4 delays are from the same distribution. If they are not, which ones are significantly different?

In [46]:
path = '/home/jewelle/data_bootcamp/'
flights_df =  pd.read_csv(path +'flights_sub.csv', parse_dates=['fl_date'])
flights_df.head()

,Unnamed: 0,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,0,2018-01-23,UA,UA_CODESHARE,UA,3405,YX,N653RW,3405,10821,...,169.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2018-11-15,AA,AA_CODESHARE,AA,5683,OH,N594NN,5683,11057,...,640.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2019-10-29,WN,WN,WN,2434,WN,N432WN,2434,12889,...,867.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2019-11-14,B6,B6,B6,577,B6,N968JT,577,11697,...,2584.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2019-05-22,DL,DL_CODESHARE,DL,3762,OO,N8933B,3762,10397,...,508.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
flights_df.drop(['Unnamed: 0', 'mkt_unique_carrier', 'dup', 'no_name'], axis=1, inplace=True)

In [48]:
# Get all the unique cities
cities = flights_df['origin_city_name'].unique()
flights_df['city'] = flights_df['origin_city_name'].apply(lambda x: x.split(', ')[0])

In [49]:
flights_df['country'] = 'US'

In [26]:
def convert_time(x):
    if np.isnan(x):
        return '00:00'
    
    if x == 2400:
        return '23:59'   
    string = str(int(x))
    
    if len(string)< 4:
        for _ in range(4-len(string)):
            string = '0' + string
    
    return string[:2] + ':' + string[2:]

In [50]:
flights_df['dep_time'] = flights_df['dep_time'].apply(lambda x: convert_time(x))
flights_df['dep_time'] = pd.to_datetime(flights_df['dep_time'], format ='%H:%M')
flights_df['start'] = flights_df['dep_time'].dt.hour
flights_df['arr_time'] = flights_df['arr_time'].apply(lambda x: convert_time(x))
flights_df['arr_time'] = pd.to_datetime(flights_df['arr_time'], format ='%H:%M')
flights_df['end'] = flights_df['arr_time'].dt.hour

In [60]:
flights_df['timestamp'] = flights_df['fl_date'].replace(tzinfo=timezone.utc).timestamp()

TypeError: replace() got an unexpected keyword argument 'tzinfo'

In [51]:
flights_df.head()

,fl_date,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,...,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,city,country,start,end
0,2018-01-23,UA_CODESHARE,UA,3405,YX,N653RW,3405,10821,BWI,"Baltimore, MD",...,NaN,NaN,NaN,NaN,NaN,NaN,Baltimore,US,5,7
1,2018-11-15,AA_CODESHARE,AA,5683,OH,N594NN,5683,11057,CLT,"Charlotte, NC",...,NaN,NaN,NaN,NaN,NaN,NaN,Charlotte,US,9,10
2,2019-10-29,WN,WN,2434,WN,N432WN,2434,12889,LAS,"Las Vegas, NV",...,NaN,NaN,NaN,NaN,NaN,NaN,Las Vegas,US,21,23
3,2019-11-14,B6,B6,577,B6,N968JT,577,11697,FLL,"Fort Lauderdale, FL",...,NaN,NaN,NaN,NaN,NaN,NaN,Fort Lauderdale,US,8,11
4,2019-05-22,DL_CODESHARE,DL,3762,OO,N8933B,3762,10397,ATL,"Atlanta, GA",...,NaN,NaN,NaN,NaN,NaN,NaN,Atlanta,US,14,15

In [57]:
def get_weather(row):
    time.sleep(3)
    response = re.get(f'http://history.openweathermap.org/data/2.5/history/city?q={city ID},{country code}&type=hour&start={start}&end={end}&appid={YOUR_API_KEY}').json()
    try:
        return response['currently']['icon']       
    except:
        return 'cloudy'

SyntaxError: invalid syntax (<fstring>, line 1)

In [54]:
flights_df['weather'] = flights_df.apply(lambda row:get_weather(row),axis=1)

NameError: name 'city' is not defined

In [2]:
#flight delay, dep_delay, slow flight speeds due to:
#inclement weather
#cargo weight, fuel burn